{{#link-to 'playground'}}Playground{{/link-to}}
 | 
<a href="/docs/index.html">Documentation</a>
<section class="content">

	<h2>Winona</h2>
	<div class="box bg-1">
    {{stylish-button type="winona" border="thin" shape="round-s"  text="Open Project"}}
    {{stylish-button type="winona" border="thin" shape="round-s" text="Create New"}}
    {{stylish-button type="winona" border="thin" shape="round-s" text="Publish"}}
	</div>
	<div class="box bg-2">
    {{stylish-button type="winona" border="thick" shape="round-l" size="s" upperCase=true textWidth="thick" text="Open Project"}}
    {{stylish-button type="winona" border="thick" shape="round-l" size="s"  upperCase=true textWidth="thick" text="Create New"}}
    {{stylish-button type="winona" border="thick" shape="round-l" size="s"  upperCase=true textWidth="thick" text="Publish"}}
	</div>
	<div class="box bg-3">
    {{stylish-button type="winona" border="thin" textWidth="thick" inverted=true text="Open Project"}}
    {{stylish-button type="winona" border="thin" textWidth="thick" inverted=true text="Create New"}}
    {{stylish-button type="winona" border="thin" textWidth="thick" inverted=true text="Publis"}}
	</div>
</section>
<section class="content">
	<h2>Ujarak</h2>
	<div class="box bg-1">
    {{stylish-button type="ujarak" border="thin" textWidth="thick" text="Publish"}}
    {{stylish-button type="ujarak" border="thin" textWidth="thick" text="Vote"}}
    {{stylish-button type="ujarak" border="thin" textWidth="thick" text="Delete"}}
	</div>
	<div class="box bg-2">
    {{stylish-button type="ujarak" border="medium" shape="round-s" textWidth="thick" text="Publish"}}
    {{stylish-button type="ujarak" border="medium" shape="round-s" textWidth="thick" text="Vote"}}
    {{stylish-button type="ujarak" border="medium" shape="round-s" textWidth="thick" text="Delete"}}
	</div>
	<div class="box bg-3">
    {{stylish-button type="ujarak" border="thick" upperCase=true size="s" inverted=true textWidth="thick" text="Publish"}}
    {{stylish-button type="ujarak" border="thick" upperCase=true size="s" inverted=true textWidth="thick" text="Vote"}}
    {{stylish-button type="ujarak" border="thick" upperCase=true size="s" inverted=true textWidth="thick" text="Delete"}}
	</div>
</section>
<section class="content">
	<h2>Wayra</h2>
	<div class="box bg-1">
    {{#stylish-button type="wayra" border="thick" upperCase=true size="s" action=(action 'buttonAction' 'Hello' 'World') }}Remove{{/stylish-button}}
    {{#stylish-button type="wayra" border="thick" upperCase=true size="s" }}Open Project{{/stylish-button}}
    {{#stylish-button type="wayra" border="thick" upperCase=true size="s" }}Buy Now{{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="wayra" border="thin" shape="round-s"}}Remove{{/stylish-button}}
    {{#stylish-button type="wayra" border="thin" shape="round-s"}}Open Project{{/stylish-button}}
    {{#stylish-button type="wayra" border="thin" shape="round-s"}}Buy Now{{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="wayra" border="medium" upperCase=true size="s" textWidth="thick" inverted=true}}Remove{{/stylish-button}}
    {{#stylish-button type="wayra" border="medium" upperCase=true size="s" textWidth="thick" inverted=true}}Open Project{{/stylish-button}}
    {{#stylish-button type="wayra" border="medium" upperCase=true size="s" textWidth="thick" inverted=true}}Buy Now{{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Tamaya</h2>
	<div class="box bg-1">
    {{stylish-button type="tamaya" border="thick" text="Open"}}
    {{stylish-button type="tamaya" border="thick" text="Send"}}
    {{stylish-button type="tamaya" border="thick" text="Copy"}}
	</div>
	<div class="box bg-2">
    {{stylish-button type="tamaya" shape="round-l" textWidth="thick" border="medium" upperCase=true size="s" inverted=true text="Open"}}
    {{stylish-button type="tamaya" shape="round-l" textWidth="thick" border="medium" upperCase=true size="s" inverted=true text="Send"}}
    {{stylish-button type="tamaya" shape="round-l" textWidth="thick" border="medium" upperCase=true size="s" inverted=true text="Copy"}}
	</div>
	<div class="box bg-3">
    {{stylish-button type="tamaya" shape="round-s" textWidth="thick" border="thin" text="Open"}}
    {{stylish-button type="tamaya" shape="round-s" textWidth="thick" border="thin" text="Send"}}
    {{stylish-button type="tamaya" shape="round-s" textWidth="thick" border="thin" text="Copy"}}
	</div>
</section>
<section class="content">
	<h2>Rayen</h2>
	<div class="box bg-1">
    {{stylish-button type="rayen" border="thin" textWidth="thick" upperCase=true size="s" text="Send Message"}}
    {{stylish-button type="rayen" border="thin" textWidth="thick" upperCase=true size="s" text="Request a Quote"}}
    {{stylish-button type="rayen" border="thin" textWidth="thick" upperCase=true size="s" text="Publish Comment"}}
	</div>
	<div class="box bg-2">
    {{stylish-button type="rayen" border="medium" textWidth="thin" size="l" inverted=true text="Send Message"}}
    {{stylish-button type="rayen" border="medium" textWidth="thin" size="l" inverted=true text="Request a Quote"}}
    {{stylish-button type="rayen" border="medium" textWidth="thin" size="l" inverted=true text="Publish Comment"}}
	</div>
	<div class="box bg-3">
    {{stylish-button type="rayen" border="thick" textWidth="thick" text="Send Message"}}
    {{stylish-button type="rayen" border="thick" textWidth="thick" text="Request a Quote"}}
    {{stylish-button type="rayen" border="thick" textWidth="thick" text="Publish Comment"}}
	</div>
</section>
<section class="content">
	<h2>Pipaluk</h2>
	<div class="box bg-1">
    {{#stylish-button type="pipaluk" textWidth="thick"}}Add to Cart{{/stylish-button}}
    {{#stylish-button type="pipaluk" textWidth="thick"}}Cancel{{/stylish-button}}
    {{#stylish-button type="pipaluk" textWidth="thick"}}Reset{{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="pipaluk" inverted=true shape="round-l" textWidth="thick" upperCase=true}}Add to Cart{{/stylish-button}}
    {{#stylish-button type="pipaluk" inverted=true shape="round-l" textWidth="thick" upperCase=true}}Cancel{{/stylish-button}}
    {{#stylish-button type="pipaluk" inverted=true shape="round-l" textWidth="thick" upperCase=true}}Reset{{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="pipaluk" inverted=true shape="round-s" textWidth="thick"}}Add to Cart{{/stylish-button}}
    {{#stylish-button type="pipaluk" inverted=true shape="round-s" textWidth="thick"}}Cancel{{/stylish-button}}
    {{#stylish-button type="pipaluk" inverted=true shape="round-s" textWidth="thick"}}Reset{{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Moema</h2>
	<p>Based on the <a href="https://dribbble.com/shots/1918524-Add-New-Location">"Add New Location"</a> button concept by Charles Patterson. Better as a click effect than on hover.</p>
	<div class="box bg-1">
    {{#stylish-button type="moema" textWidth="thick" upperCase=true size="s"}}Make it so{{/stylish-button}}
    {{#stylish-button type="moema" textWidth="thick" upperCase=true size="s"}}Add to cart{{/stylish-button}}
    {{#stylish-button type="moema" textWidth="thick" upperCase=true size="s"}}Send now{{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="moema" border="thick"  size="s"}}Make it so{{/stylish-button}}
    {{#stylish-button type="moema" border="thick"  size="s"}}Add to cart{{/stylish-button}}
    {{#stylish-button type="moema" border="thick"  size="s"}}Send now{{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="moema" inverted=true textWidth="thick" size="s"}}Make it so{{/stylish-button}}
    {{#stylish-button type="moema" inverted=true textWidth="thick" size="s"}}Add to cart{{/stylish-button}}
    {{#stylish-button type="moema" inverted=true textWidth="thick" size="s"}}Send now{{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Isi</h2>
	<div class="box bg-1">
    {{#stylish-button type="isi" textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="isi" border="thin" shape="round-s" size="s"}}
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" border="thin" shape="round-s" size="s"}}
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" border="thin" shape="round-s" size="s"}}
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="isi" border="thick" shape="round-l" size="s"}}
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" border="thick" shape="round-l" size="s"}}
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    {{/stylish-button}}
    {{#stylish-button type="isi" border="thick" shape="round-l" size="s"}}
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Aylen</h2>
	<div class="box bg-1">
    {{#stylish-button type="aylen" shape="round-l" textWidth="thick"}}Next Song{{/stylish-button}}
    {{#stylish-button type="aylen" shape="round-l" textWidth="thick"}}Hold{{/stylish-button}}
    {{#stylish-button type="aylen" shape="round-l" textWidth="thick"}}Previous Song{{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="aylen" border="thin" shape="round-s" }}Next Song{{/stylish-button}}
    {{#stylish-button type="aylen" border="thin" shape="round-s" }}Hold{{/stylish-button}}
    {{#stylish-button type="aylen" border="thin" shape="round-s" }}Previous Song{{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="aylen" border="thick" inverted=true upperCase=true size="s" }}Next Song{{/stylish-button}}
    {{#stylish-button type="aylen" border="thick" inverted=true upperCase=true size="s" }}Hold{{/stylish-button}}
    {{#stylish-button type="aylen" border="thick" inverted=true upperCase=true size="s" }}Previous Song{{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Saqui</h2>
	<div class="box bg-1">
    {{stylish-button type="saqui" shape="round-l" textWidth="thick" text="Add Issue"}}
    {{stylish-button type="saqui" shape="round-l" textWidth="thick" text="Send Message"}}
    {{stylish-button type="saqui" shape="round-l" textWidth="thick" text="Follow"}}
	</div>
	<div class="box bg-2">
    {{stylish-button type="saqui" inverted=true border="thin" shape="round-s"  text="Add Issue"}}
    {{stylish-button type="saqui" inverted=true border="thin" shape="round-s"  text="Send Message"}}
    {{stylish-button type="saqui" inverted=true border="thin" shape="round-s"  text="Follow"}}
	</div>
	<div class="box bg-3">
    {{stylish-button type="saqui" inverted=true textWidth="thick" upperCase=true size="s" text="Add Issue"}}
    {{stylish-button type="saqui" inverted=true textWidth="thick" upperCase=true size="s" text="Send Message"}}
    {{stylish-button type="saqui" inverted=true textWidth="thick" upperCase=true size="s" text="Follow"}}
	</div>
</section>
<section class="content">
	<h2>Wapasha</h2>
	<div class="box bg-1">
    {{#stylish-button type="wapasha" shape="round-s"}}Hide{{/stylish-button}}
    {{#stylish-button type="wapasha" shape="round-s"}}Add to Cart{{/stylish-button}}
    {{#stylish-button type="wapasha" shape="round-s"}}Send Request{{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="wapasha" textWidth="thick" upperCase=true size="s"}}Hide{{/stylish-button}}
    {{#stylish-button type="wapasha" textWidth="thick" upperCase=true size="s"}}Add to Cart{{/stylish-button}}
    {{#stylish-button type="wapasha" textWidth="thick" upperCase=true size="s"}}Send Request{{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="wapasha" shape="round-l" textWidth="thick" inverted=true }}Hide{{/stylish-button}}
    {{#stylish-button type="wapasha" shape="round-l" textWidth="thick" inverted=true }}Add to Cart{{/stylish-button}}
    {{#stylish-button type="wapasha" shape="round-l" textWidth="thick" inverted=true }}Send Request{{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Nuka</h2>
	<div class="box bg-1">
    {{#stylish-button type="nuka" shape="round-s" textWidth="thick"}} Add to Cart {{/stylish-button}}
    {{#stylish-button type="nuka" shape="round-s" textWidth="thick"}} Subscribe {{/stylish-button}}
    {{#stylish-button type="nuka" shape="round-s" textWidth="thick"}} Submit Order {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="nuka" shape="round-l" inverted=true textWidth="thick" upperCase=true size="s"}} Add to Cart {{/stylish-button}}
    {{#stylish-button type="nuka" shape="round-l" inverted=true textWidth="thick" upperCase=true size="s"}} Subscribe {{/stylish-button}}
    {{#stylish-button type="nuka" shape="round-l" inverted=true textWidth="thick" upperCase=true size="s"}} Submit Order {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="nuka"}} Add to Cart {{/stylish-button}}
    {{#stylish-button type="nuka"}} Subscribe {{/stylish-button}}
    {{#stylish-button type="nuka"}} Submit Order {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Antiman</h2>
	<div class="box bg-1">
    {{#stylish-button type="antiman" shape="round-l" textWidth="medium"}}
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" shape="round-l" textWidth="medium"}}
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" shape="round-l" textWidth="medium"}}
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="antiman" textWidth="thick" upperCase=true size="s" shape="round-s" border="thick" invertedAlt=true}}
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" textWidth="thick" upperCase=true size="s" shape="round-s" border="thick" invertedAlt=true}}
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" textWidth="thick" upperCase=true size="s" shape="round-s" border="thick" invertedAlt=true}}
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="antiman" inverted=true border="thin" textWidth="thick" size="m"}}
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" inverted=true border="thin" textWidth="thick" size="m"}}
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    {{/stylish-button}}
    {{#stylish-button type="antiman" inverted=true border="thin" textWidth="thick" size="m"}}
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    {{/stylish-button}}
	</div>
</section> 
<section class="content">
	<h2>Itzel</h2>
  <div class="box bg-1">
    {{#stylish-button type="itzel" textWidth="thick"}}
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" textWidth="thick"}}
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" textWidth="thick"}}
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="itzel" textWidth="thick" upperCase=true border="thick" size="s"}}
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" textWidth="thick" upperCase=true border="thick" size="s"}}
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" textWidth="thick" upperCase=true border="thick" size="s"}}
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    {{/stylish-button}}

	</div>
	<div class="box bg-3">
    {{#stylish-button type="itzel" size="l" border="thin" textWidth="thin"}}
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" size="l" border="thin" textWidth="thin"}}
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    {{/stylish-button}}
    {{#stylish-button type="itzel" size="l" border="thin" textWidth="thin"}}
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Naira</h2>
	<div class="box bg-1">
    {{#stylish-button type="naira" shape="round-s" border="thin"}}
      <i class="button__icon icon icon-download"></i><span>Download</span>
    {{/stylish-button}}
    {{#stylish-button type="naira" shape="round-s" border="thin"}}
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="naira" border="thick" textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-download"></i><span>Download</span>
    {{/stylish-button}}
    {{#stylish-button type="naira" border="thick" textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="naira" border="medium" shape="round-l" textWidth="thick" inverted=true}}
      <i class="button__icon icon icon-download"></i><span>Download</span>
    {{/stylish-button}}
    {{#stylish-button type="naira" border="medium" shape="round-l" textWidth="thick" inverted=true}}
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Quidel</h2>
	<div class="box bg-1">
    {{#stylish-button type="quidel" shape="round-s"}}
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" shape="round-s"}}
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" shape="round-s"}}
      <i class="button__icon icon icon-search"></i><span>Search</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="quidel" inverted=true textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" inverted=true textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" inverted=true textWidth="thick" upperCase=true size="s"}}
      <i class="button__icon icon icon-search"></i><span>Search</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="quidel" inverted=true}}
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" inverted=true}}
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    {{/stylish-button}}
    {{#stylish-button type="quidel" inverted=true}}
      <i class="button__icon icon icon-search"></i><span>Search</span>
    {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Sacnite</h2>
	<div class="box bg-1">
    {{#stylish-button type="sacnite"}}
      <i class="button__icon icon icon-user"></i><span>User</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite"}}
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite"}}
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="sacnite" shape="round-l"}}
      <i class="button__icon icon icon-user"></i><span>User</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite" shape="round-l"}}
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite" shape="round-l"}}
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="sacnite" shape="round-s" inverted=true}}
      <i class="button__icon icon icon-user"></i><span>User</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite" shape="round-s" inverted=true}}
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    {{/stylish-button}}
    {{#stylish-button type="sacnite" shape="round-s" inverted=true}}
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    {{/stylish-button}}
	</div>
</section>
<section class="content">
	<h2>Shikoba</h2>
	<p>Based on <a href="https://dribbble.com/shots/1534868-Portfolio-update">Portfolio Update!</a> by Dennis Flinsenberg</p>
	<div class="box bg-1">
    {{#stylish-button type="shikoba" shape="round-s" border="thin"}}
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" shape="round-s" border="thin"}}
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" shape="round-s" border="thin"}}
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-2">
    {{#stylish-button type="shikoba" textWidth="thick" upperCase=true size="s" border="medium"}}
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" textWidth="thick" upperCase=true size="s" border="medium"}}
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" textWidth="thick" upperCase=true size="s" border="medium"}}
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    {{/stylish-button}}
	</div>
	<div class="box bg-3">
    {{#stylish-button type="shikoba" textWidth="medium" shape="round-l" inverted=true}}
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" textWidth="medium" shape="round-l" inverted=true}}
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    {{/stylish-button}}
    {{#stylish-button type="shikoba" textWidth="medium" shape="round-l" inverted=true}}
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    {{/stylish-button}}
	</div>
</section>
