<LinkTo @route="playground">Playground</LinkTo>
 | 
<a href="docs">Documentation</a>
<section class="content">

	<h2>Winona</h2>
	<div class="box bg-1">
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Open Project" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Create New" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Publish" />
	</div>
	<div class="box bg-2">
    <StylishButton @type="winona" @border="thick" @shape="round-l" @size="s" @upperCase={{true}} @textWidth="thick" @text="Open Project" />
    <StylishButton @type="winona" @border="thick" @shape="round-l" @size="s" @upperCase={{true}} @textWidth="thick" @text="Create New" />
    <StylishButton @type="winona" @border="thick" @shape="round-l" @size="s" @upperCase={{true}} @textWidth="thick" @text="Publish" />
	</div>
	<div class="box bg-3">
    <StylishButton @type="winona" @border="thin" @textWidth="thick" @inverted={{true}} @text="Open Project" />
    <StylishButton @type="winona" @border="thin" @textWidth="thick" @inverted={{true}} @text="Create New" />
    <StylishButton @type="winona" @border="thin" @textWidth="thick" @inverted={{true}} @text="Publis" />
	</div>
</section>
<section class="content">
	<h2>Ujarak</h2>
	<div class="box bg-1">
    <StylishButton @type="ujarak" @border="thin" @textWidth="thick" @text="Publish" />
    <StylishButton @type="ujarak" @border="thin" @textWidth="thick" @text="Vote" />
    <StylishButton @type="ujarak" @border="thin" @textWidth="thick" @text="Delete" />
	</div>
	<div class="box bg-2">
    <StylishButton @type="ujarak" @border="medium" @shape="round-s" @textWidth="thick" @text="Publish" />
    <StylishButton @type="ujarak" @border="medium" @shape="round-s" @textWidth="thick" @text="Vote" />
    <StylishButton @type="ujarak" @border="medium" @shape="round-s" @textWidth="thick" @text="Delete" />
	</div>
	<div class="box bg-3">
    <StylishButton @type="ujarak" @border="thick" @upperCase={{true}} @size="s" @inverted={{true}} @textWidth="thick" @text="Publish" />
    <StylishButton @type="ujarak" @border="thick" @upperCase={{true}} @size="s" @inverted={{true}} @textWidth="thick" @text="Vote" />
    <StylishButton @type="ujarak" @border="thick" @upperCase={{true}} @size="s" @inverted={{true}} @textWidth="thick" @text="Delete" />
	</div>
</section>
<section class="content">
	<h2>Wayra</h2>
	<div class="box bg-1">
          <StylishButton @type="wayra" @border="thick" @upperCase={{true}} @size="s" {{on 'click' (fn this.buttonAction "Hello" "World")}}>Remove</StylishButton>
    <StylishButton @type="wayra" @border="thick" @upperCase={{true}} @size="s">Open Project</StylishButton>
    <StylishButton @type="wayra" @border="thick" @upperCase={{true}} @size="s">Buy Now</StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="wayra" @border="thin" @shape="round-s">Remove</StylishButton>
    <StylishButton @type="wayra" @border="thin" @shape="round-s">Open Project</StylishButton>
    <StylishButton @type="wayra" @border="thin" @shape="round-s">Buy Now</StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="wayra" @border="medium" @upperCase={{true}} @size="s" @textWidth="thick" @inverted={{true}}>Remove</StylishButton>
    <StylishButton @type="wayra" @border="medium" @upperCase={{true}} @size="s" @textWidth="thick" @inverted={{true}}>Open Project</StylishButton>
    <StylishButton @type="wayra" @border="medium" @upperCase={{true}} @size="s" @textWidth="thick" @inverted={{true}}>Buy Now</StylishButton>
	</div>
</section>
<section class="content">
	<h2>Tamaya</h2>
	<div class="box bg-1">
    <StylishButton @type="tamaya" @border="thick" @text="Open" />
    <StylishButton @type="tamaya" @border="thick" @text="Send" />
    <StylishButton @type="tamaya" @border="thick" @text="Copy" />
	</div>
	<div class="box bg-2">
    <StylishButton @type="tamaya" @shape="round-l" @textWidth="thick" @border="medium" @upperCase={{true}} @size="s" @inverted={{true}} @text="Open" />
    <StylishButton @type="tamaya" @shape="round-l" @textWidth="thick" @border="medium" @upperCase={{true}} @size="s" @inverted={{true}} @text="Send" />
    <StylishButton @type="tamaya" @shape="round-l" @textWidth="thick" @border="medium" @upperCase={{true}} @size="s" @inverted={{true}} @text="Copy" />
	</div>
	<div class="box bg-3">
    <StylishButton @type="tamaya" @shape="round-s" @textWidth="thick" @border="thin" @text="Open" />
    <StylishButton @type="tamaya" @shape="round-s" @textWidth="thick" @border="thin" @text="Send" />
    <StylishButton @type="tamaya" @shape="round-s" @textWidth="thick" @border="thin" @text="Copy" />
	</div>
</section>
<section class="content">
	<h2>Rayen</h2>
	<div class="box bg-1">
    <StylishButton @type="rayen" @border="thin" @textWidth="thick" @upperCase={{true}} @size="s" @text="Send Message" />
    <StylishButton @type="rayen" @border="thin" @textWidth="thick" @upperCase={{true}} @size="s" @text="Request a Quote" />
    <StylishButton @type="rayen" @border="thin" @textWidth="thick" @upperCase={{true}} @size="s" @text="Publish Comment" />
	</div>
	<div class="box bg-2">
    <StylishButton @type="rayen" @border="medium" @textWidth="thin" @size="l" @inverted={{true}} @text="Send Message" />
    <StylishButton @type="rayen" @border="medium" @textWidth="thin" @size="l" @inverted={{true}} @text="Request a Quote" />
    <StylishButton @type="rayen" @border="medium" @textWidth="thin" @size="l" @inverted={{true}} @text="Publish Comment" />
	</div>
	<div class="box bg-3">
    <StylishButton @type="rayen" @border="thick" @textWidth="thick" @text="Send Message" />
    <StylishButton @type="rayen" @border="thick" @textWidth="thick" @text="Request a Quote" />
    <StylishButton @type="rayen" @border="thick" @textWidth="thick" @text="Publish Comment" />
	</div>
</section>
<section class="content">
	<h2>Pipaluk</h2>
	<div class="box bg-1">
    <StylishButton @type="pipaluk" @textWidth="thick">Add to Cart</StylishButton>
    <StylishButton @type="pipaluk" @textWidth="thick">Cancel</StylishButton>
    <StylishButton @type="pipaluk" @textWidth="thick">Reset</StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-l" @textWidth="thick" @upperCase={{true}}>Add to Cart</StylishButton>
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-l" @textWidth="thick" @upperCase={{true}}>Cancel</StylishButton>
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-l" @textWidth="thick" @upperCase={{true}}>Reset</StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-s" @textWidth="thick">Add to Cart</StylishButton>
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-s" @textWidth="thick">Cancel</StylishButton>
    <StylishButton @type="pipaluk" @inverted={{true}} @shape="round-s" @textWidth="thick">Reset</StylishButton>
	</div>
</section>
<section class="content">
	<h2>Moema</h2>
	<p>Based on the <a href="https://dribbble.com/shots/1918524-Add-New-Location">"Add New Location"</a> button concept by Charles Patterson. Better as a click effect than on hover.</p>
	<div class="box bg-1">
    <StylishButton @type="moema" @textWidth="thick" @upperCase={{true}} @size="s">Make it so</StylishButton>
    <StylishButton @type="moema" @textWidth="thick" @upperCase={{true}} @size="s">Add to cart</StylishButton>
    <StylishButton @type="moema" @textWidth="thick" @upperCase={{true}} @size="s">Send now</StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="moema" @border="thick" @size="s">Make it so</StylishButton>
    <StylishButton @type="moema" @border="thick" @size="s">Add to cart</StylishButton>
    <StylishButton @type="moema" @border="thick" @size="s">Send now</StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="moema" @inverted={{true}} @textWidth="thick" @size="s">Make it so</StylishButton>
    <StylishButton @type="moema" @inverted={{true}} @textWidth="thick" @size="s">Add to cart</StylishButton>
    <StylishButton @type="moema" @inverted={{true}} @textWidth="thick" @size="s">Send now</StylishButton>
	</div>
</section>
<section class="content">
	<h2>Isi</h2>
	<div class="box bg-1">
    <StylishButton @type="isi" @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    </StylishButton>
    <StylishButton @type="isi" @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    </StylishButton>
    <StylishButton @type="isi" @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="isi" @border="thin" @shape="round-s" @size="s">
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    </StylishButton>
    <StylishButton @type="isi" @border="thin" @shape="round-s" @size="s">
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    </StylishButton>
    <StylishButton @type="isi" @border="thin" @shape="round-s" @size="s">
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="isi" @border="thick" @shape="round-l" @size="s">
      <i class="button__icon icon icon-box"></i><span>Archive</span>
    </StylishButton>
    <StylishButton @type="isi" @border="thick" @shape="round-l" @size="s">
      <i class="button__icon icon icon-forward"></i><span>Forward</span>
    </StylishButton>
    <StylishButton @type="isi" @border="thick" @shape="round-l" @size="s">
      <i class="button__icon icon icon-reply"></i><span>Reply</span>
    </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Aylen</h2>
	<div class="box bg-1">
    <StylishButton @type="aylen" @shape="round-l" @textWidth="thick">Next Song</StylishButton>
    <StylishButton @type="aylen" @shape="round-l" @textWidth="thick">Hold</StylishButton>
    <StylishButton @type="aylen" @shape="round-l" @textWidth="thick">Previous Song</StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="aylen" @border="thin" @shape="round-s">Next Song</StylishButton>
    <StylishButton @type="aylen" @border="thin" @shape="round-s">Hold</StylishButton>
    <StylishButton @type="aylen" @border="thin" @shape="round-s">Previous Song</StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="aylen" @border="thick" @inverted={{true}} @upperCase={{true}} @size="s">Next Song</StylishButton>
    <StylishButton @type="aylen" @border="thick" @inverted={{true}} @upperCase={{true}} @size="s">Hold</StylishButton>
    <StylishButton @type="aylen" @border="thick" @inverted={{true}} @upperCase={{true}} @size="s">Previous Song</StylishButton>
	</div>
</section>
<section class="content">
	<h2>Saqui</h2>
	<div class="box bg-1">
    <StylishButton @type="saqui" @shape="round-l" @textWidth="thick" @text="Add Issue" />
    <StylishButton @type="saqui" @shape="round-l" @textWidth="thick" @text="Send Message" />
    <StylishButton @type="saqui" @shape="round-l" @textWidth="thick" @text="Follow" />
	</div>
	<div class="box bg-2">
    <StylishButton @type="saqui" @inverted={{true}} @border="thin" @shape="round-s" @text="Add Issue" />
    <StylishButton @type="saqui" @inverted={{true}} @border="thin" @shape="round-s" @text="Send Message" />
    <StylishButton @type="saqui" @inverted={{true}} @border="thin" @shape="round-s" @text="Follow" />
	</div>
	<div class="box bg-3">
    <StylishButton @type="saqui" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s" @text="Add Issue" />
    <StylishButton @type="saqui" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s" @text="Send Message" />
    <StylishButton @type="saqui" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s" @text="Follow" />
	</div>
</section>
<section class="content">
	<h2>Wapasha</h2>
	<div class="box bg-1">
    <StylishButton @type="wapasha" @shape="round-s">Hide</StylishButton>
    <StylishButton @type="wapasha" @shape="round-s">Add to Cart</StylishButton>
    <StylishButton @type="wapasha" @shape="round-s">Send Request</StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="wapasha" @textWidth="thick" @upperCase={{true}} @size="s">Hide</StylishButton>
    <StylishButton @type="wapasha" @textWidth="thick" @upperCase={{true}} @size="s">Add to Cart</StylishButton>
    <StylishButton @type="wapasha" @textWidth="thick" @upperCase={{true}} @size="s">Send Request</StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="wapasha" @shape="round-l" @textWidth="thick" @inverted={{true}}>Hide</StylishButton>
    <StylishButton @type="wapasha" @shape="round-l" @textWidth="thick" @inverted={{true}}>Add to Cart</StylishButton>
    <StylishButton @type="wapasha" @shape="round-l" @textWidth="thick" @inverted={{true}}>Send Request</StylishButton>
	</div>
</section>
<section class="content">
	<h2>Nuka</h2>
	<div class="box bg-1">
    <StylishButton @type="nuka" @shape="round-s" @textWidth="thick"> Add to Cart </StylishButton>
    <StylishButton @type="nuka" @shape="round-s" @textWidth="thick"> Subscribe </StylishButton>
    <StylishButton @type="nuka" @shape="round-s" @textWidth="thick"> Submit Order </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="nuka" @shape="round-l" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s"> Add to Cart </StylishButton>
    <StylishButton @type="nuka" @shape="round-l" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s"> Subscribe </StylishButton>
    <StylishButton @type="nuka" @shape="round-l" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s"> Submit Order </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="nuka"> Add to Cart </StylishButton>
    <StylishButton @type="nuka"> Subscribe </StylishButton>
    <StylishButton @type="nuka"> Submit Order </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Antiman</h2>
	<div class="box bg-1">
    <StylishButton @type="antiman" @shape="round-l" @textWidth="medium">
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    </StylishButton>
    <StylishButton @type="antiman" @shape="round-l" @textWidth="medium">
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    </StylishButton>
    <StylishButton @type="antiman" @shape="round-l" @textWidth="medium">
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="antiman" @textWidth="thick" @upperCase={{true}} @size="s" @shape="round-s" @border="thick" @invertedAlt={{true}}>
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    </StylishButton>
    <StylishButton @type="antiman" @textWidth="thick" @upperCase={{true}} @size="s" @shape="round-s" @border="thick" @invertedAlt={{true}}>
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    </StylishButton>
    <StylishButton @type="antiman" @textWidth="thick" @upperCase={{true}} @size="s" @shape="round-s" @border="thick" @invertedAlt={{true}}>
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="antiman" @inverted={{true}} @border="thin" @textWidth="thick" @size="m">
      <i class="button__icon icon icon-plus"></i><span>Add New</span>
    </StylishButton>
    <StylishButton @type="antiman" @inverted={{true}} @border="thin" @textWidth="thick" @size="m">
      <i class="button__icon icon icon-map-marker"></i><span>Locate</span>
    </StylishButton>
    <StylishButton @type="antiman" @inverted={{true}} @border="thin" @textWidth="thick" @size="m">
      <i class="button__icon icon icon-clock"></i><span>Schedule</span>
    </StylishButton>
	</div>
</section> 
<section class="content">
	<h2>Itzel</h2>
  <div class="box bg-1">
    <StylishButton @type="itzel" @textWidth="thick">
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    </StylishButton>
    <StylishButton @type="itzel" @textWidth="thick">
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    </StylishButton>
    <StylishButton @type="itzel" @textWidth="thick">
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="itzel" @textWidth="thick" @upperCase={{true}} @border="thick" @size="s">
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    </StylishButton>
    <StylishButton @type="itzel" @textWidth="thick" @upperCase={{true}} @border="thick" @size="s">
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    </StylishButton>
    <StylishButton @type="itzel" @textWidth="thick" @upperCase={{true}} @border="thick" @size="s">
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    </StylishButton>

	</div>
	<div class="box bg-3">
    <StylishButton @type="itzel" @size="l" @border="thin" @textWidth="thin">
      <i class="button__icon icon icon-cart"></i><span>Express Checkout</span>
    </StylishButton>
    <StylishButton @type="itzel" @size="l" @border="thin" @textWidth="thin">
      <i class="button__icon icon icon-envelope"></i><span>Send Message</span>
    </StylishButton>
    <StylishButton @type="itzel" @size="l" @border="thin" @textWidth="thin">
      <i class="button__icon icon icon-trash"></i><span>Delete Article</span>
    </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Naira</h2>
	<div class="box bg-1">
    <StylishButton @type="naira" @shape="round-s" @border="thin">
      <i class="button__icon icon icon-download"></i><span>Download</span>
    </StylishButton>
    <StylishButton @type="naira" @shape="round-s" @border="thin">
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="naira" @border="thick" @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-download"></i><span>Download</span>
    </StylishButton>
    <StylishButton @type="naira" @border="thick" @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="naira" @border="medium" @shape="round-l" @textWidth="thick" @inverted={{true}}>
      <i class="button__icon icon icon-download"></i><span>Download</span>
    </StylishButton>
    <StylishButton @type="naira" @border="medium" @shape="round-l" @textWidth="thick" @inverted={{true}}>
      <i class="button__icon icon icon-upload"></i><span>Upload</span>
    </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Quidel</h2>
	<div class="box bg-1">
    <StylishButton @type="quidel" @shape="round-s">
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    </StylishButton>
    <StylishButton @type="quidel" @shape="round-s">
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    </StylishButton>
    <StylishButton @type="quidel" @shape="round-s">
      <i class="button__icon icon icon-search"></i><span>Search</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="quidel" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    </StylishButton>
    <StylishButton @type="quidel" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    </StylishButton>
    <StylishButton @type="quidel" @inverted={{true}} @textWidth="thick" @upperCase={{true}} @size="s">
      <i class="button__icon icon icon-search"></i><span>Search</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="quidel" @inverted={{true}}>
      <i class="button__icon icon icon-cross"></i><span>Delete</span>
    </StylishButton>
    <StylishButton @type="quidel" @inverted={{true}}>
      <i class="button__icon icon icon-flag"></i><span>Flag</span>
    </StylishButton>
    <StylishButton @type="quidel" @inverted={{true}}>
      <i class="button__icon icon icon-search"></i><span>Search</span>
    </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Sacnite</h2>
	<div class="box bg-1">
    <StylishButton @type="sacnite">
      <i class="button__icon icon icon-user"></i><span>User</span>
    </StylishButton>
    <StylishButton @type="sacnite">
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    </StylishButton>
    <StylishButton @type="sacnite">
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="sacnite" @shape="round-l">
      <i class="button__icon icon icon-user"></i><span>User</span>
    </StylishButton>
    <StylishButton @type="sacnite" @shape="round-l">
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    </StylishButton>
    <StylishButton @type="sacnite" @shape="round-l">
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="sacnite" @shape="round-s" @inverted={{true}}>
      <i class="button__icon icon icon-user"></i><span>User</span>
    </StylishButton>
    <StylishButton @type="sacnite" @shape="round-s" @inverted={{true}}>
      <i class="button__icon icon icon-bookmark"></i><span>Bookmark</span>
    </StylishButton>
    <StylishButton @type="sacnite" @shape="round-s" @inverted={{true}}>
      <i class="button__icon icon icon-bell"></i><span>Alert</span>
    </StylishButton>
	</div>
</section>
<section class="content">
	<h2>Shikoba</h2>
	<p>Based on <a href="https://dribbble.com/shots/1534868-Portfolio-update">Portfolio Update!</a> by Dennis Flinsenberg</p>
	<div class="box bg-1">
    <StylishButton @type="shikoba" @shape="round-s" @border="thin">
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    </StylishButton>
    <StylishButton @type="shikoba" @shape="round-s" @border="thin">
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    </StylishButton>
    <StylishButton @type="shikoba" @shape="round-s" @border="thin">
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    </StylishButton>
	</div>
	<div class="box bg-2">
    <StylishButton @type="shikoba" @textWidth="thick" @upperCase={{true}} @size="s" @border="medium">
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    </StylishButton>
    <StylishButton @type="shikoba" @textWidth="thick" @upperCase={{true}} @size="s" @border="medium">
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    </StylishButton>
    <StylishButton @type="shikoba" @textWidth="thick" @upperCase={{true}} @size="s" @border="medium">
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    </StylishButton>
	</div>
	<div class="box bg-3">
    <StylishButton @type="shikoba" @textWidth="medium" @shape="round-l" @inverted={{true}}>
      <i class="button__icon icon icon-microphone"></i><span>Start Recording</span>
    </StylishButton>
    <StylishButton @type="shikoba" @textWidth="medium" @shape="round-l" @inverted={{true}}>
      <i class="button__icon icon icon-next"></i><span>Next Song</span>
    </StylishButton>
    <StylishButton @type="shikoba" @textWidth="medium" @shape="round-l" @inverted={{true}}>
      <i class="button__icon icon icon-camera"></i><span>Take picture</span>
    </StylishButton>
	</div>
</section>
<section class="content">
  <h2>Custom Class</h2>
  <div class="box bg-white">
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Primary" @customClasses="btn-primary" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Success" @customClasses="btn-success" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Info" @customClasses="btn-info" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Warning" @customClasses="btn-warning" />
    <StylishButton @type="winona" @border="thin" @shape="round-s" @text="Danger" @customClasses="btn-danger" />
	</div>
</section>
