<LinkTo @route="index">Demo</LinkTo>
<h3>Playground - Play with all the options to customize ember-stylish-buttons</h3>
<div class="esb-options-wrapper">
  <div class="esb-option">
<p>Style* : </p>
<p>
  <select onchange={{action 'changeStyle'  value="target.value"}}>
    {{#each buttonStyles as |style|}}
      <option value={{style.name}}>{{style.caption}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">
<p>Border: </p>
<p>
  <select onchange={{action (mut buttonStyle.border)  value="target.value"}}>
    {{#each borderOptions as |border|}}
      <option value={{border}}>{{border}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>Shape: </p>
<p>
  <select onchange={{action (mut buttonStyle.shape)  value="target.value"}}>
    {{#each shapeOptions as |shape|}}
      <option value={{shape}}>{{shape}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>TextWidth: </p>
<p>
  <select onchange={{action (mut buttonStyle.textWidth)  value="target.value"}}>
    {{#each widthOptions as |width|}}
      <option value={{width}}>{{width}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>Size: </p>
<p>
  <select onchange={{action (mut buttonStyle.size)  value="target.value"}}>
    {{#each sizeOptions as |size|}}
      <option value={{size}}>{{size}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-options">
    <p>Inverted: </p>
    <p><Input @type="checkbox" @checked={{buttonStyle.inverted}} /></p>
  </div>
  <div class="esb-options">
    <p>Upper Case: </p>
    <p><Input @type="checkbox" @checked={{buttonStyle.upperCase}} /></p>
  </div>
</div>
<section class="content">
	<h2>{{currentStyle}}</h2>
	<div class="box">
    <StylishButton @type={{buttonStyle.className}} @border={{buttonStyle.border}} @shape={{buttonStyle.shape}} @size={{buttonStyle.size}} @upperCase={{buttonStyle.upperCase}} @inverted={{buttonStyle.inverted}} @textWidth={{buttonStyle.textWidth}} @text="Open Project" />
	</div>
  <pre>
   {{code}} 
  </pre>
</section>

