<LinkTo @route="index">Demo</LinkTo>
<h3>Playground - Play with all the options to customize ember-stylish-buttons</h3>
<div class="esb-options-wrapper">
  <div class="esb-option">
<p>Style* : </p>
<p>
<select {{ on "change" this.changeStyle }}>
    {{#each this.buttonStyles as |style|}}
      <option value={{style.name}}>{{style.caption}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">
<p>Border: </p>
<p>
<select {{ on "change" this.updateBorder }}>
    {{#each this.borderOptions as |border|}}
      <option value={{border}}>{{border}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>Shape: </p>
<p>
<select {{ on "change" this.updateShape }}>
    {{#each this.shapeOptions as |shape|}}
      <option value={{shape}}>{{shape}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>TextWidth: </p>
<p>
<select {{ on "change" this.updateTextWidth }}>
    {{#each this.widthOptions as |width|}}
      <option value={{width}}>{{width}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-option">

<p>Size: </p>
<p>
<select {{ on "change" this.updateSize }}>
    {{#each this.sizeOptions as |size|}}
      <option value={{size}}>{{size}}</option>
    {{/each}}
  </select>
</p>
  </div>
  <div class="esb-options">
    <p>Inverted: </p>
    <p><Input @type="checkbox" @checked={{this.buttonStyle.inverted}} /></p>
  </div>
  <div class="esb-options">
    <p>Upper Case: </p>
    <p><Input @type="checkbox" @checked={{this.buttonStyle.upperCase}} /></p>
  </div>
</div>
<section class="content">
	<h2>{{this.currentStyle}}</h2>
	<div class="box">
    <StylishButton @type={{this.buttonStyle.className}} @border={{this.buttonStyle.border}} @shape={{this.buttonStyle.shape}} @size={{this.buttonStyle.size}} @upperCase={{this.buttonStyle.upperCase}} @inverted={{this.buttonStyle.inverted}} @textWidth={{this.buttonStyle.textWidth}} @text="Open Project" />
	</div>
  <pre>
   {{this.code}} 
  </pre>
</section>

